<?xml version="1.0" encoding="UTF-8"?>
<config>

    <modules>
        <Aoe_CacheStats>
            <version>1.0.0</version>
        </Aoe_CacheStats>
    </modules>

    <global>

        <models>
            <aoecachestats>
                <class>Aoe_CacheStats_Model</class>
            </aoecachestats>
        </models>

        <helpers>
            <aoecachestats>
                <class>Aoe_CacheStats_Helper</class>
            </aoecachestats>
        </helpers>

    </global>

</config>
